jpype1
black==21.6b0
click==8.0.4
joblib
jupyter==1.0.0
scikit-learn==0.24.2
pylint
pytest==6.2.4
setuptools
wheel
xgboost==1.4.2
twine==3.4.2
pyarrow
numpydoc
matplotlib
pandas
pytest-xdist==2.5.0
pytest-benchmark
bokeh
