JPype1==1.4.1
black==22.10.0
click==8.0.4
joblib==1.2.0
jupyter==1.0.0
scikit-learn==0.24.2
pylint==2.15.7
pytest==7.2.0
setuptools==65.6.3
wheel==0.38.4
xgboost==1.6.2
twine==4.0.2
pyarrow==7.0.0
numpydoc
matplotlib==3.5.1
pandas==1.2.5
pytest-xdist==2.5.0
pytest-benchmark
bokeh==2.4.3