name: Tests

on:
  push:
  pull_request:
  workflow_dispatch:
      inputs:
        pipfile:
          description: 'Location of Pipfile to validate dependencies'
          required: false
          default: 'https://raw.githubusercontent.com/opendatahub-io/notebooks/main/jupyter/datascience/ubi9-python-3.9/Pipfile'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.8, 3.9 ]
        java-version: [ 11, 17 ]
        maven-version: [ '3.8.6' ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK + Maven version
        uses: s4u/setup-maven-action@v1.4.0
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ matrix.maven-version }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build explainability-core
        uses: ./.github/actions/build-core
      - name: Install TrustyAI Python package
        run: |
          pip install .
          pip install ".[dev]"
      - name: Lint
        run: |
          pylint --ignore-imports=yes $(find src/trustyai -type f -name "*.py")
      - name: Test with pytest
        run: |
          pytest -v -s tests/general
          pytest -v -s tests/initialization --forked
      - name: Test ODH dependencies
        if: "${{ github.event.inputs.pipfile != '' }}"
        uses: ./.github/actions/dependencies
        with:
          pipfile: '${{ github.event.inputs.pipfile }}'
      - name: Test ODH dependencies
        if: "${{ github.event.inputs.pipfile == '' }}"
        uses: ./.github/actions/dependencies
        with:
          pipfile: 'https://raw.githubusercontent.com/opendatahub-io/notebooks/main/jupyter/datascience/ubi9-python-3.9/Pipfile'
      - name: Style
        run: |
          black --check $(find src/trustyai -type f -name "*.py")
